<style type="text/css">
    .entry_banner_<%= blog_entry.attributes['id'] %> {
      height: 240px;
      width: 568px;
      background-position: left-top;
      background-repeat: no-repeat;
      background-image: url('<%= blog_entry.blog_entry_image.attachment.url(:banner_small) %>');
      background-size: 568px 240px;
    }
    @media
    only screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-width: 769px) and (min-resolution: 192dpi) {
      .entry_banner_<%= blog_entry.attributes['id'] %> {
        background-image: url('<%= blog_entry.blog_entry_image.attachment.url(:banner_small2x) %>');
        background-size: 568px 240px;
      }
    }
    @media
    only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (max-width: 768px) and (min-resolution: 192dpi) {
      .entry_banner_<%= blog_entry.attributes['id'] %> {
        width: 100%;
        background-position: center top;
        background-image: url('<%= blog_entry.blog_entry_image.attachment.url(:banner_mini2x) %>');
        background-size: 480px 240px;
      }
    }
    @media only screen and (max-width: 768px) {
      .entry_banner_<%= blog_entry.attributes['id'] %> {
        width: 100%;
        background-position: center top;
        background-image: url('<%= blog_entry.blog_entry_image.attachment.url(:banner_mini) %>');
        background-size: 480px 240px;
      }
    }
</style>

<%= link_to blog_entry_permalink(blog_entry) do %>
  <div class="entry_link entry_banner_<%= blog_entry.attributes['id'] %>">
    <h2 class="banner_title"><%= blog_entry.title %></h2>
  </div>
<% end %>

<div class="blog_entry_summary">
  <%== blog_entry.entry_summary %>
  <span class="blog_read_more"><%= link_to Spree.t(:blog_read_more), blog_entry_permalink(blog_entry) %></span>
</div>

<%= render :partial => 'spree/blog_entries/blog_entry_details', :locals => {:blog_entry => blog_entry} %>
