<style type="text/css">
    .entry_banner {
      height: 300px;
      width: 100%;
      background-position: center top;
      background-repeat: no-repeat;
      background-image: url('<%= @blog_entry.blog_entry_image.attachment.url(:banner_medium) %>');
      background-size: 568px 240px;
    }
    @media only screen and (max-width: 568px) {
      .entry_banner {
        background-image: url('<%= @blog_entry.blog_entry_image.attachment.url(:banner_mini) %>');
        background-size: 480px 240px;
      }
    }
</style>

<div id="blog_entry_container">
  <div id="blog_entry_entry">
    <div class="entry_banner">
      <h1><%= @blog_entry.title %></h1>
    </div>

    <div class="blog_entry_body">
      <%== @blog_entry.body %>
    </div>

    <%= render :partial => 'spree/blog_entries/blog_entry_details', :locals => {:blog_entry => @blog_entry} %>
  </div>

  <%= render :partial => 'spree/blog_entries/comments', :locals => {:blog_entry => @blog_entry}  %>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'spree/blog_entries/sidebar_show' %>
<% end %>

<% content_for :head do %>
  <% if !@blog_entry.author.blank? and !@blog_entry.author.google_plus_url.blank? %>
    <link rel="author" href="<%= @blog_entry.author.google_plus_url %>"/>
  <% end %>
<% end %>
